*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.App-header{
  margin-top: 5vmax;
}